
*{
    font-family: Dosis, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    font-size: 5rem;
    width: 100%;
}
#main-wrapper{
    width: 500px;
    max-width: 100%;
    height: 420px;
    margin: 100px auto;
    position: relative;
    perspective: 1200px;
}
#title-container{
    transform: translateZ(-850px) rotate3d(0, 1, 0, 0deg);
    transform-style: preserve-3d;
    animation: my-animation 30s ease-in-out infinite 1s;
}
#title-container:hover{
    animation-play-state: paused;
}
#title-container .title{
    width: 500px;
    max-width: 100%;
    height: 420px;
    border-radius: 10px;
    position: absolute;
    opacity: 0.95;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 200ms linear;
}
#title-container .title.active{
    opacity: 1;
    transform: scale(2);
}
#title1{
    background-image: url("img/img1.jpg");
    transform: rotateY(0deg) translateZ(850px);
}
#title2{
    background-image: url("img/img2.jpg");
    transform: rotateY(36deg) translateZ(850px);
}
#title3{
    background-image: url("img/img3.jpg");
    transform: rotateY(72deg) translateZ(850px);
}
#title4{
    background-image: url("img/img4.jpg");
    transform: rotateY(108deg) translateZ(850px);
}
#title5{
    background-image: url("img/img5.jpg");
    transform: rotateY(144deg) translateZ(850px);
}
#title6{
    background-image: url("img/img6.jpg");
    transform: rotateY(180deg) translateZ(850px);
}
#title7{
    background-image: url("img/img7.jpg");
    transform: rotateY(216deg) translateZ(850px);
}
#title8{
    background-image: url("img/img8.jpg");
    transform: rotateY(252deg) translateZ(850px);
}
#title9{
    background-image: url("img/img9.jpg");
    transform: rotateY(288deg) translateZ(850px);
}
#title10{
    background-image: url("img/img10.jpg");
    transform: rotateY(324deg) translateZ(850px);
}
.message p{
    font-size: 3rem;
    text-align: center;
}
@keyframes my-animation {
    0%{
        transform: translateZ(-850px) rotate3d(0, 1, 0, 0deg);
    }
    10%{
        transform: translateZ(-850px) rotate3d(0, 1, 0, 36deg);
    }
    20%{
        transform: translateZ(-850px) rotate3d(0, 1, 0, 72deg);
    }
    30%{
        transform: translateZ(-850px) rotate3d(0, 1, 0, 108deg);
    }
    40%{
        transform: translateZ(-850px) rotate3d(0, 1, 0, 144deg);
    }
    50%{
        transform: translateZ(-850px) rotate3d(0, 1, 0, 180deg);
    }
    60%{
        transform: translateZ(-850px) rotate3d(0, 1, 0, 216deg);
    }
    70%{
        transform: translateZ(-850px) rotate3d(0, 1, 0, 252deg);
    }
    80%{
        transform: translateZ(-850px) rotate3d(0, 1, 0, 288deg);
    }
    90%{
        transform: translateZ(-850px) rotate3d(0, 1, 0, 324deg);
    }
    100%{
        transform: translateZ(-850px) rotate3d(0, 1, 0, 360deg);
    }
    
}
@media only screen and (max-width: 750px) {
    *{
        font-size: 90%;
    }
    #main-wrapper{
        overflow-x: hidden;
    }
}